.post-content .highlight span {
    background: #f0f0f8 !important;
}

.post-content .highlight pre code {
    background: #f0f0f8 !important;
}

.post-content pre code {
    color: #000000;
}

.post-content code {
    font-size: .85em;
}

.first-entry {
    min-height: 120px;
    margin-top: 12px;
    margin-bottom: 24px;
}
